<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FandomTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1308488A1CB050B300C2CE6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1308489E1CB050B300C2CE6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>130848A91CB050B300C2CE6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
